<footer class="footer mt-5">
    <div class="container text-center">
        <p>© 2026 Công ty LD</p>
        <p>📍 Hà Nội | ☎ 033663636 | ✉ ldpro@abc.com</p>
        <p>Liên Hệ Để Được Hỗ Trợ!</p>
    </div>
</footer>
